<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yanque.common.dataConfig.mapper.SysConfigMapper">

    <resultMap id="SysConfigMap" type="cn.yanque.common.dataConfig.entity.SysConfigEntity">
        <id property="id" column="id"/>
        <result property="k" column="k"/>
        <result property="v" column="v"/>
    </resultMap>

    <sql id="BaseColumns">
        id, k, v
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_config (k, v)
        values (#{k}, #{v})
    </insert>

    <update id="updateById">
        update sys_config
        set k = #{k},
            v = #{v}
        where id = #{id}
    </update>

    <update id="updateByKey">
        update sys_config
        set v = #{value}
        where k = #{key}
    </update>

    <select id="selectById" resultMap="SysConfigMap">
        select <include refid="BaseColumns"/>
        from sys_config
        where id = #{id}
    </select>

    <select id="selectByKey" resultMap="SysConfigMap">
        select <include refid="BaseColumns"/>
        from sys_config
        where k = #{key}
        limit 1
    </select>

    <select id="selectPage" resultMap="SysConfigMap">
        select <include refid="BaseColumns"/>
        from sys_config
        <where>
            <if test="keyword != null and keyword != ''">
                and (k like concat('%', #{keyword}, '%')
                or v like concat('%', #{keyword}, '%'))
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectList" resultMap="SysConfigMap">
        select <include refid="BaseColumns"/>
        from sys_config
        order by id desc
    </select>

    <delete id="deleteById">
        delete from sys_config where id = #{id}
    </delete>
</mapper>
